@model NewsListingViewModel
<div id="content">
    <div class="container" id="contact">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <p class="text-muted lead">@ViewData["Title"]</p>
                    </div>
                    <div class="col-md-5">
                        <form asp-area="Admin" asp-controller="News" asp-action="Index" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchText" placeholder="Search article title">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>Author</th>
                        <th>Publish Date</th>
                        <th>Views</th>
                        <th>Comments</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var news in Model.News)
                    {
                        <tr>
                            <td>
                                @news.Title
                            </td>
                            <td>@news.Author</td>
                            <td class="col-md-2 col-sm-2">@news.PublishDate.ToShortDateString()</td>
                            <td>@news.ReadCount</td>
                            <td>@news.Comments</td>
                            <td>@(string.Join(", ", news.Tags))</td>
                            <td class="col-md-3 col-sm-2">
                                <form asp-controller="News" asp-action="Delete">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <input type="hidden" name="Id" value="@news.Id" />
                                        </div>
                                        <div>
                                            <input class="btn btn-template-main btn-sm" onclick="return confirm('Comments for this news will be deleted too. Are you sure you want to continue?');" type="submit" value="Delete" />
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.TotalNews > Model.News.Count())
            {
                <div class="pages pull-left">
                    <ul class="pagination">
                        <li class="previous @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                            <a asp-route-page="@Model.PreviousPage"
                               aria-label="Previous">
                                «
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (i == Model.CurrentPage)
                            {
                                <li class="active">
                                    <a asp-route-page="@i">@i</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                        <li class="next @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
                            <a asp-route-page="@Model.NextPage"
                               aria-label="Next">
                                »
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </section>
    </div>
</div>