@model NewsDetailsServiceModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var imgSrc = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Image));
}

<div class="col-md-9" id="blog-post">
    <p class="text-muted text-uppercase mb-small text-right">By @Model.Author | @Model.PublishDate</p>
    <p class="lead"><strong>@Model.Title</strong></p>
    <div id="post-content">
        <p>
            <img src="@imgSrc" class="img-responsive" alt="Example blog post alt" title="@Model.Title">
        </p>
        <p>
            @Html.Raw(Model.Content)
        </p>
    </div>
    @if (!string.IsNullOrEmpty(Model.VideoUrl))
    {
        <p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@Model.VideoUrl" allowfullscreen></iframe>
            </div>
        </p>
    }

    <div class="row">
        <div class="tag-cloud">
            @foreach (var tag in Model.Tags)
            {
                <a asp-controller="NewsZone" asp-action="SearchByTag" asp-route-tagId="@tag.TagId" asp-route-title="@tag.Tag.Content.ToFriendlyUrl()"><i class="fa fa-tags"></i> @tag.Tag.Content</a>
            }
        </div>
    </div>

    <div class="row">
        <div id="comments">
            <h4 class="text-uppercase">@Model.CommentsCount @(Model.CommentsCount == 1 ? "comment" : "comments")</h4>
            <a asp-controller="NewsZone" asp-action="Comment" asp-route-id="@Model.Id"  class="btn btn-template-main"><i class="fa fa-comment-o"></i> Comments</a>
            @if (User.IsInRole(WebConstants.AdministratorRole) || UserManager.GetUserId(User) == Model.AuthorId)
            {
                <a asp-controller="Reporters" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Reporters" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are sure wants to delete @Model.Title');" class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>
