@model NewsDetailsServiceModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var imgSrc = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Image));
}

<div class="col-md-9" id="blog-post">
    <p class="text-muted text-uppercase mb-small text-right">By <a href="#">@Model.Author</a> | @Model.PublishDate</p>
    <p class="lead"><strong>@Model.Title</strong></p>
    <div id="post-content">
        <p>
            <img src="@imgSrc" class="img-responsive" alt="Example blog post alt" title="@Model.Title">
        </p>
        <p>
            @Html.Raw(Model.Content)
        </p>
    </div>
        @if (!string.IsNullOrEmpty(Model.VideoUrl))
                    {
            <p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.VideoUrl" allowfullscreen></iframe>
                </div>
            </p>
                    }

    <div class="row">
        <div class="tag-cloud">
            @foreach (var tag in Model.Tags)
            {
                <a asp-controller="NewsZone" asp-action="SearchByTag" asp-route-tagId="@tag.TagId" asp-route-title="@tag.Tag.Content.ToFriendlyUrl()"><i class="fa fa-tags"></i> @tag.Tag.Content</a>
            }
        </div>
    </div>

    <div class="row">
        <!-- *** LEFT COLUMN ***
        _________________________________________________________ -->
        <!-- /#post-content -->
        <div id="comments">            
            @await Html.PartialAsync("_Comments", Model.Comments)
        </div>
        <!-- /#comments -->
       @if (SignInManager.IsSignedIn(User))
       {
        <div id="comment-form">
            <h4 class="text-uppercase">Leave comment</h4>
            <form asp-area="News" asp-controller="NewsZone" asp-action="Comment" method="post" id="comment">
                @await Html.PartialAsync("_LeaveComment", Model.Id)
            </form>
        </div>
       }
        <!-- /#comment-form -->
    </div>
    <!-- /#blog-post -->
    <!-- *** LEFT COLUMN END *** -->
</div>
