@model ArticleDetailsServiceModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div id="content">
    <div class="container">
        <div class="row">
            @{
                var articleMonth = new DateTime(Model.DateCreated.Year, Model.DateCreated.Month, Model.DateCreated.Day).ToString("MMMM", CultureInfo.InvariantCulture);
            }

            <div id="blog-post">
                <div class="box">
                    <div class="heading">
                        <h3 class="text-uppercase">@Model.Title</h3>
                    </div>
                    <p class="text-muted text-uppercase mb-small text-left"><i class="fa fa-user"></i> @Model.Author | <i class="fa fa-calendar-o"></i> @articleMonth @Model.DateCreated.Day, @Model.DateCreated.Year</p>
                </div>
                <div id="post-content">
                    <p>
                        @Model.Content
                    </p>
                </div>
                <div id="comments">
                   @await Html.PartialAsync("_Comments", Model.Comments)
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div id="comment-form">
                        <h4 class="text-uppercase">Leave comment</h4>
                        <form asp-area="Forum" asp-controller="Articles" asp-action="Comment" method="post" id="comment">
                            @await Html.PartialAsync("_LeaveComment", Model.Id)
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>