@model CommentViewModel

<div id="content">
    <div class="container">
        <div class="row">
            <div id="blog-post">
                <div class="box">
                    <div class="heading">
                        <h3 class="text-uppercase">@Model.ArticleTitle</h3>
                    </div>
                </div>
                <div id="post-content">
                    <p>
                        @Model.Content
                    </p>
                </div>
                <div id="comments">
                    @await Html.PartialAsync("_Comments", Model.Comments)
                </div>
                @if (Model.TotalComments > Model.Comments.Count())
                {
                    <ul class="pager">
                        <li class="previous @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                            <a asp-route-page="@Model.PreviousPage"
                               aria-label="Previous">
                                ← previous
                            </a>
                        </li>
                        <li class="next @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
                            <a asp-route-page="@Model.NextPage"
                               aria-label="Next">
                                next →
                            </a>
                        </li>
                    </ul>
                }

                <div id="comment-form">
                    <h4 class="text-uppercase">Leave comment</h4>
                    <form asp-area="Forum" asp-controller="Articles" asp-action="Comment" method="post" id="comment">
                        @await Html.PartialAsync("_LeaveComment", new CreateCommentViewModel { Id = Model.ArticleId})
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>